.Carrito{
    background-color: crimson;
    border-radius: 10px;
    width: 80px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    text-decoration: none;
}

.styleCart{
    height: 60px;
}

.styleCart:hover{
    filter: drop-shadow(0.8px 0.8px 4px white)
}