.CardList {
    min-width: 260px;
    min-height: 40vh;
    padding: 10px;
    border-color: darksalmon;
    border-width: 4px;
    border-style: groove;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin: 12px;
}

.ImagenProdList {
    max-width: 20vw;
    max-height: 20vw;
}

.DetailBoton {
    background-color: coral;
    border-radius: 6px;
    border-color: darkgray;
    border-style: groove;
    border-width: 4px;
    margin: 6px;
    padding: 3px;
}